.container {
    max-width: 100%;
    min-height: 100vh;
    background-color: black;
    padding-top: 80px;
    color: #fff;
    display: flex;
    justify-content: center;
}
.heroes{
    width: 80%;
    height: 80%;
    display: flex;
    padding-top: 60px;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.hero_text{
font-size: 50px;
letter-spacing: 6px;
}
.content{
    width: 95%;
    height: 90px;
    background-color: #2a2a2a;
    display: flex;
    border-radius: 8px;
    justify-content: center;
}
.filter{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter_text{
    font-size: 20px;
    letter-spacing: 3px;
}
.attribute{
    display: flex;
    align-items: center;
    gap: 30px;
}


.btn{
    color: #b7b7b7;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    background: none;
    transition: 0.3s;
}
.btn:hover{
    color: #f0f0f0;
}

.search_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 280px;
    height: 50px;
    background-color: #5a5a5a;

}

.search_icon{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    color: #b7b7b7;
    text-decoration: none;
}
.search_input{
    width: 80%;
    height: 37px;
    border: none;
    color:#d2d2d2;
    height: 20px;
    outline: none;
    background: #5a5a5a;
    font-size: 18px;
    transition: 0.4s;
}
.block{
    width: 90%;
   display: flex;
   flex-wrap: wrap;
   gap: 23px;
}
.hero_img{
    width: 200px;
    height: 230px;
    padding-top: 10px;
}
.hero_title{
    background-color: #616161;
    padding: 13px;
    font-size: 18px;
    font-weight: 550;
    text-transform: uppercase;
}
.box:hover{
    transition: 0.3s;
    transform: translateX(0px) translateY(-15px) !important;
}