.back_video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}
.home {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px;
  width: 80%;
}
.text {
  width: 80%;
  font-size: 60px;
  color: #ebeaea;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Karla', sans-serif;
}
.line {
  width: 150px;
  height: 5px;
  background-color: #b37710;
}
.news{
  display: flex;
  flex-direction: column; 
  gap: 20px;
  padding: 20px 0 0 20px;
}
.news_text{
  display: flex;
  align-items: center;
  gap: 30px;
}
.news_block{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.all_news{
letter-spacing: 2px;
color: #ebeaea;
font-family: 'Karla', sans-serif;
}
.all_show{
letter-spacing: 5px;
color: #d4d4d4;
transition: 0.4s;
}
.all_show:hover{
  letter-spacing: 6px;
}
.regist {
  font-size: 20px;
  color: #d4d4d4;
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 15px 45px 15px 45px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  transition: 0.3s;
}
.regist:hover {
  border: 1px solid #fff;
  color: #fff;
}

.hero{
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  position: absolute;
  margin-top: 690px;
  display: flex;
  justify-content: center;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_content{
  width: 70%;
  height: 95%;
  gap: 7px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
.hero_title{
  font-size: 54px;
  color: #9b9b9b;
}
.hero_subtitle{
  font-size: 104px;
  margin-top: -33px;
  color: #e7e7e7;
  margin-bottom: -10px;
}
.hero_text{
  color: #e7e7e7;
  font-size: 24px;
  padding-bottom: 35px;
  text-align: center;
}
.hero_show{
  font-size: 20px;
  color: #e7e7e7;
  padding: 12px 35px 12px 35px;
  letter-spacing: 3px;
  border-radius: 4px;
  border: 2.5px solid #a6a6a6;
  transition: 0.3s;
}
.hero_show:hover{
  font-size: 20px;
  color: #ffffff;
  padding: 12px 35px 12px 35px;
  letter-spacing: 3px;
  border-radius: 4px;
  border: 2.5px solid #fefefe;
}